/* Style the heading */
h1,
h2,
h3 {
    font-family: 'Handlee', cursive;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-bottom: 60px; /* Adjust this value to match the height of your footer */
}

/* 
This CSS rule adds padding to the left and right of the body and main elements. 
This ensures that the content is not right up against the viewport on small screens.
*/
main {
    margin: 2rem 0;
}

/* Style the navbar */
#navbar a {
    color:#3B2F2F;
}

#navbar .nav-link.active {
    font-weight: bold;
}

 /* Make the navbar sticky */
.navbar {
    position: sticky;
    top: 0;
    z-index: 1000;
}

#logo {
    width: 30px;
    height: 30px;
    margin-right: 7px;
}

.hero-section {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/hero.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #FFEBD4;
    padding: 8rem 0;
}

.btn {
    color: #3B2F2F;
}

.custom-btn {
    color:white;
}

/* Style the services section */
.card-img-top{
    height: 200px; 
    object-fit: cover;
}

.services {
    object-position: top;
}
/* Testimonial style */
#testimonials img {
    width: 100px; 
    height: 100px; 
    object-fit: cover;
}

#testimonialCarousel {
    overflow-x: hidden; /* Prevents horizontal scrolling during transitions */
}

/* Style the services section html*/
.table-light th {
    background-color: #ffffff !important; /* Sets the background color to white */
    color: #000000; /* Optional: Sets the text color to black for better contrast */
}

/* Style the footer section */
footer {
    color: #ffebd4;
    background-color: #6f4e37;
    height: 60px; /* Set a fixed height for the footer */
    margin-top: auto;
}

footer a {
    color: #ffebd4;
}

@media screen and (min-width: 576px ) {
    footer {
        padding: 15px;
    }
}